/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*start of custom css*/


#header-link-container {
    display:flex;
    justify-content: flex-end;
    width:100%;
    font-size:0.8em;
}

.header-link {
    text-decoration: none;
    color:black;
    font-family: arial, sans-serif;
    height:35px;
    padding: 10px;
    padding-top:20px;
}

#appsicon:hover {
    box-shadow: 0px 0px 0px 6px rgb(233, 233, 233);
    border-radius: 20px;
    background-color: rgb(233, 233, 233);
}

.header-link-text {
    padding-top:5px
}

.header-link-text:hover {
    text-decoration: underline;
}

#login-button {
    vertical-align: middle;
    height:35px;
    width:90px;
    position:relative;
    top:-20%;
    color:white;
    background-color:#1a73e8;
    border-radius:7%;
    border:transparent;
}

/* Shift to light blue and a shadow when hovering*/
#login-button:hover {
    background-color: #468ae2;
    box-shadow: 0px 0px 3px  #2879e3;
}

#content-div {
    display:flex;
    justify-content: center;
    align-content:flex-end;
    width:100%;
    min-height:0px;
    
}

#google-logo {
    height:92px;
    width:272px;
    margin-top:auto;
}

#searchbar-container {
    width:500px;
    height:40px;
    margin:auto;
    background-color: rgba(145, 153, 153, 0);
    border: 1px solid lightgray;
    border-radius: 20px;
    display:flex;
    margin-top: 1em;
}

#searchbar-container:hover {
    box-shadow: 0px 0px 6px rgb(173, 173, 173);
    border-color:white;
}

#search-bar-icon {
    margin-top:0.3em;
    margin-left:0.4em;
    color:rgb(129, 129, 129)
}

#search-bar-icon-keyboard {
    margin-top:0.3em;
    color:rgb(129, 129, 129);
}

#searchbar-input {
    width: 425px;
    border-color: transparent;
    outline:none;
}

#search-buttons-div {
    margin:auto;
    width:400px;
    display:flex;
    justify-content: center;
}

.search-button {
    padding:10px;
    margin-top:2em;
    margin-left:0.5rem;
    margin-right: 0.5rem;
    border-color: transparent;
    background-color:rgba(233, 233, 233, 0.295);
    border-radius:5px;
    font-family: arial,sans-serif;
    color:rgb(66, 66, 66)
}

.search-button:hover {
    box-shadow: 0px 0px 2px rgb(173, 173, 173);
}

#real-footer {
    
}